body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:136px;
  background:inherit;
  background-color:rgba(124, 77, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  position:absolute;
  left:198px;
  top:374px;
  width:136px;
  height:136px;
}
#u17 {
  position:absolute;
  left:2px;
  top:60px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:136px;
  background:inherit;
  background-color:rgba(139, 195, 74, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  position:absolute;
  left:26px;
  top:374px;
  width:136px;
  height:136px;
}
#u19 {
  position:absolute;
  left:2px;
  top:60px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:163px;
}
#u20 {
  position:absolute;
  left:7px;
  top:125px;
  width:343px;
  height:163px;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto';
  font-style:normal;
  font-size:28px;
  text-align:center;
  line-height:55px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Thin', 'Roboto Thin', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:18px;
}
#u23 {
  position:absolute;
  left:10px;
  top:743px;
  width:340px;
  height:20px;
  font-family:'Roboto-Thin', 'Roboto Thin', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:18px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
  color:#868686;
  text-align:center;
}
#u25 {
  position:absolute;
  left:10px;
  top:655px;
  width:340px;
  height:19px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
  color:#868686;
  text-align:center;
}
#u25_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  color:#868686;
  text-align:center;
}
#u25.mouseOver {
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:36px;
}
#u27 {
  position:absolute;
  left:10px;
  top:773px;
  width:340px;
  height:36px;
  font-family:'Roboto-Thin', 'Roboto Thin', 'Roboto';
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
  line-height:18px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:49px;
}
#u29 {
  position:absolute;
  left:143px;
  top:684px;
  width:74px;
  height:49px;
}
#u30 {
  position:absolute;
  left:2px;
  top:16px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:55px;
}
#u31 {
  position:absolute;
  left:36px;
  top:445px;
  width:112px;
  height:55px;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
  line-height:55px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:55px;
}
#u33 {
  position:absolute;
  left:226px;
  top:445px;
  width:79px;
  height:55px;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
  line-height:55px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u35 {
  position:absolute;
  left:67px;
  top:400px;
  width:50px;
  height:50px;
}
#u36 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u37 {
  position:absolute;
  left:240px;
  top:400px;
  width:50px;
  height:50px;
}
#u38 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:66px;
}
#u39 {
  position:absolute;
  left:20px;
  top:550px;
  width:314px;
  height:66px;
  font-family:'Roboto-Thin', 'Roboto Thin', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-align:center;
  line-height:22px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
}
#u43 {
  position:absolute;
  left:2px;
  top:22px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:3px;
}
#u45 {
  position:absolute;
  left:16px;
  top:29px;
  width:24px;
  height:3px;
}
#u46 {
  position:absolute;
  left:2px;
  top:-6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:3px;
}
#u47 {
  position:absolute;
  left:16px;
  top:22px;
  width:24px;
  height:3px;
}
#u48 {
  position:absolute;
  left:4px;
  top:-6px;
  width:15px;
  visibility:hidden;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  word-wrap:break-word;
  transform-origin:8px 7.5px;
  -ms-transform-origin:8px 7.5px;
  -moz-transform-origin:8px 7.5px;
  -webkit-transform-origin:8px 7.5px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:3px;
}
#u49 {
  position:absolute;
  left:16px;
  top:35px;
  width:24px;
  height:3px;
}
#u50 {
  position:absolute;
  left:2px;
  top:-6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u51 {
  position:absolute;
  left:327px;
  top:20px;
  width:20px;
  height:20px;
}
#u51_img.mouseOver {
}
#u51.mouseOver {
}
#u51_img.mouseDown {
}
#u51.mouseDown {
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u53 {
  position:absolute;
  left:287px;
  top:20px;
  width:20px;
  height:20px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u55 {
  position:absolute;
  left:135px;
  top:0px;
  width:90px;
  height:60px;
}
#u56 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  overflow:hidden;
}
#u58_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u58_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:0px 3px 10px rgba(27, 27, 27, 0.258823529411765);
  -webkit-box-shadow:0px 3px 10px rgba(27, 27, 27, 0.258823529411765);
  box-shadow:0px 3px 10px rgba(27, 27, 27, 0.258823529411765);
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u61 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u62 {
  position:absolute;
  left:10px;
  top:25px;
  width:40px;
  height:40px;
}
#u63 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:70px;
}
#u64 {
  position:absolute;
  left:134px;
  top:10px;
  width:93px;
  height:70px;
}
#u65 {
  position:absolute;
  left:2px;
  top:27px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:360px;
}
#u66 {
  position:absolute;
  left:30px;
  top:100px;
  width:300px;
  height:360px;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-style:normal;
  font-size:36px;
  text-align:center;
  line-height:72px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 2px rgba(40, 40, 40, 0.117647058823529);
  -webkit-box-shadow:0px 0px 2px rgba(40, 40, 40, 0.117647058823529);
  box-shadow:0px 0px 2px rgba(40, 40, 40, 0.117647058823529);
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u68 {
  position:absolute;
  left:10px;
  top:530px;
  width:340px;
  height:60px;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u69 {
  position:absolute;
  left:12px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u16.a {
  left:570px;
  top:335px;
  width:173px;
  height:173px;
}
#u16_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:173px;
  background:inherit;
  background-color:rgba(124, 77, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17.a {
  top:78px;
  width:169px;
}
#u18.a {
  left:217px;
  top:337px;
  width:173px;
  height:173px;
}
#u18_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:173px;
  background:inherit;
  background-color:rgba(139, 195, 74, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19.a {
  top:78px;
  width:169px;
}
#u20.a {
  left:10px;
  top:110px;
  width:940px;
  height:190px;
}
#u20_img.a {
  width:940px;
  height:190px;
}
#u21.a {
  width:940px;
}
#u22.a {
  position:absolute;
  left:10px;
  top:655px;
  width:940px;
  height:91px;
}
#u23.a {
  left:608px;
  top:674px;
  width:342px;
  height:30px;
}
#u23_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Thin', 'Roboto Thin', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:18px;
}
#u24.a {
  width:342px;
}
#u25.a {
  top:674px;
  width:400px;
  height:26px;
}
#u25_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Thin', 'Roboto Thin', 'Roboto';
  font-weight:200;
  font-style:normal;
  color:#868686;
  text-align:center;
}
#u25_div.mouseOver.a {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  color:#868686;
  text-align:center;
}
#u25.a.mouseOver {
}
#u26.a {
  width:400px;
}
#u27.a {
  top:710px;
  width:940px;
}
#u27_img.a {
  width:940px;
}
#u28.a {
  width:940px;
}
#u29.a {
  left:443px;
  top:655px;
}
#u29_img.a {
}
#u30.a {
}
#u31.a {
  left:229px;
  top:443px;
  width:144px;
}
#u31_img.a {
  width:144px;
}
#u32.a {
  width:144px;
}
#u33.a {
  left:606px;
  top:441px;
  width:101px;
}
#u33_img.a {
  width:101px;
}
#u34.a {
  width:101px;
}
#u35.a {
  left:269px;
  top:370px;
  width:63px;
  height:63px;
}
#u35_img.a {
  width:63px;
  height:63px;
}
#u36.a {
  top:24px;
  width:59px;
}
#u37.a {
  left:624px;
  top:368px;
  width:63px;
  height:63px;
}
#u37_img.a {
  width:63px;
  height:63px;
}
#u38.a {
  top:24px;
  width:59px;
}
#u39.a {
  left:90px;
  top:560px;
  width:780px;
  height:56px;
}
#u39_img.a {
  width:780px;
  height:56px;
}
#u40.a {
  width:780px;
}
#u41.a {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:640px;
}
#u42.a {
  width:960px;
}
#u42_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43.a {
  width:956px;
}
#u45.a {
}
#u45_img.a {
}
#u46.a {
}
#u47.a {
}
#u47_img.a {
}
#u48.a {
}
#u49.a {
}
#u49_img.a {
}
#u50.a {
}
#u51.a {
  left:930px;
}
#u51_img.a {
}
#u51_img.a.mouseOver {
}
#u51.a.mouseOver {
}
#u51_img.a.mouseDown {
}
#u51.a.mouseDown {
}
#u52.a {
}
#u53.a {
  left:890px;
}
#u53_img.a {
}
#u54.a {
}
#u55.a {
  left:435px;
}
#u55_img.a {
}
#u56.a {
}
#u57.a {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:640px;
}
#u58.a {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:640px;
}
#u60.a {
  width:960px;
  height:700px;
}
#u60_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:0px 3px 10px rgba(27, 27, 27, 0.258823529411765);
  -webkit-box-shadow:0px 3px 10px rgba(27, 27, 27, 0.258823529411765);
  box-shadow:0px 3px 10px rgba(27, 27, 27, 0.258823529411765);
}
#u61.a {
  top:342px;
  width:956px;
}
#u62.a {
  left:26px;
  top:42px;
  width:44px;
  height:48px;
}
#u62_img.a {
  width:44px;
  height:48px;
}
#u63.a {
  top:16px;
  width:40px;
}
#u64.a {
  left:427px;
  width:133px;
  height:100px;
}
#u64_img.a {
  width:133px;
  height:100px;
}
#u65.a {
  top:42px;
  width:129px;
}
#u66.a {
  left:70px;
  top:180px;
  width:380px;
}
#u66_img.a {
  width:380px;
}
#u67.a {
  width:380px;
}
#u68.a {
  left:580px;
  top:190px;
}
#u68_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 2px rgba(40, 40, 40, 0.117647058823529);
  -webkit-box-shadow:0px 0px 2px rgba(40, 40, 40, 0.117647058823529);
  box-shadow:0px 0px 2px rgba(40, 40, 40, 0.117647058823529);
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u69.a {
}
#u58_state0.a {
  width:960px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u16.b {
  left:700px;
  top:370px;
  width:198px;
  height:198px;
}
#u16_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:198px;
  background:inherit;
  background-color:rgba(124, 77, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17.b {
  top:91px;
  width:194px;
}
#u18.b {
  left:315px;
  top:372px;
  width:198px;
  height:198px;
}
#u18_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:198px;
  background:inherit;
  background-color:rgba(139, 195, 74, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19.b {
  top:91px;
  width:194px;
}
#u20.b {
  left:10px;
  top:100px;
  width:1180px;
  height:220px;
}
#u20_img.b {
  width:1180px;
  height:220px;
}
#u21.b {
  width:1180px;
}
#u22.b {
  position:absolute;
  left:10px;
  top:740px;
  width:1180px;
  height:100px;
}
#u23.b {
  left:637px;
  top:752px;
  width:553px;
  height:25px;
}
#u23_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Thin', 'Roboto Thin', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:18px;
}
#u24.b {
  width:553px;
}
#u25.b {
  top:752px;
  width:500px;
  height:25px;
}
#u25_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Thin', 'Roboto Thin', 'Roboto';
  font-weight:200;
  font-style:normal;
  color:#868686;
  text-align:center;
}
#u25_div.mouseOver.b {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  color:#868686;
  text-align:center;
}
#u25.b.mouseOver {
}
#u26.b {
  width:500px;
}
#u27.b {
  top:804px;
  width:1180px;
}
#u27_img.b {
  width:1180px;
}
#u28.b {
  width:1180px;
}
#u29.b {
  left:563px;
  top:740px;
}
#u29_img.b {
}
#u30.b {
}
#u31.b {
  left:329px;
  top:494px;
  width:144px;
}
#u31_img.b {
  width:144px;
}
#u32.b {
  width:144px;
}
#u33.b {
  left:741px;
  top:492px;
  width:101px;
}
#u33_img.b {
  width:101px;
}
#u34.b {
  width:101px;
}
#u35.b {
  left:375px;
  top:410px;
  width:72px;
  height:72px;
}
#u35_img.b {
  width:72px;
  height:72px;
}
#u36.b {
  top:28px;
  width:68px;
}
#u37.b {
  left:762px;
  top:408px;
  width:72px;
  height:72px;
}
#u37_img.b {
  width:72px;
  height:72px;
}
#u38.b {
  top:28px;
  width:68px;
}
#u39.b {
  left:90px;
  top:620px;
  width:1020px;
  height:72px;
}
#u39_img.b {
  width:1020px;
  height:72px;
}
#u40.b {
  width:1020px;
}
#u41.b {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:640px;
}
#u42.b {
  width:1200px;
}
#u42_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43.b {
  width:1196px;
}
#u45.b {
}
#u45_img.b {
}
#u46.b {
}
#u47.b {
}
#u47_img.b {
}
#u48.b {
}
#u49.b {
}
#u49_img.b {
}
#u50.b {
}
#u51.b {
  left:1170px;
}
#u51_img.b {
}
#u51_img.b.mouseOver {
}
#u51.b.mouseOver {
}
#u51_img.b.mouseDown {
}
#u51.b.mouseDown {
}
#u52.b {
}
#u53.b {
  left:1130px;
}
#u53_img.b {
}
#u54.b {
}
#u55.b {
  left:555px;
}
#u55_img.b {
}
#u56.b {
}
#u57.b {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:640px;
}
#u58.b {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:640px;
}
#u60.b {
  width:1200px;
}
#u60_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:0px 3px 10px rgba(27, 27, 27, 0.258823529411765);
  -webkit-box-shadow:0px 3px 10px rgba(27, 27, 27, 0.258823529411765);
  box-shadow:0px 3px 10px rgba(27, 27, 27, 0.258823529411765);
}
#u61.b {
  width:1196px;
}
#u62.b {
  left:26px;
  top:42px;
  width:44px;
  height:46px;
}
#u62_img.b {
  width:44px;
  height:46px;
}
#u63.b {
  top:15px;
  width:40px;
}
#u64.b {
  left:557px;
  top:0px;
  width:133px;
  height:100px;
}
#u64_img.b {
  width:133px;
  height:100px;
}
#u65.b {
  top:42px;
  width:129px;
}
#u66.b {
  left:110px;
  top:160px;
  width:620px;
}
#u66_img.b {
  width:620px;
}
#u67.b {
  width:620px;
}
#u68.b {
  left:730px;
  top:180px;
  width:430px;
  height:90px;
}
#u68_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:90px;
  background:inherit;
  background-color:rgba(51, 51, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 2px rgba(40, 40, 40, 0.117647058823529);
  -webkit-box-shadow:0px 0px 2px rgba(40, 40, 40, 0.117647058823529);
  box-shadow:0px 0px 2px rgba(40, 40, 40, 0.117647058823529);
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u69.b {
  top:21px;
  width:406px;
}
#u58_state0.b {
  width:1200px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
