body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1974 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1975 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1976 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
}
#u1977 {
  position:absolute;
  left:2px;
  top:22px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1978 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:3px;
}
#u1979 {
  position:absolute;
  left:16px;
  top:29px;
  width:24px;
  height:3px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:-6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:3px;
}
#u1981 {
  position:absolute;
  left:16px;
  top:22px;
  width:24px;
  height:3px;
}
#u1982 {
  position:absolute;
  left:4px;
  top:-6px;
  width:15px;
  visibility:hidden;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  word-wrap:break-word;
  transform-origin:8px 7.5px;
  -ms-transform-origin:8px 7.5px;
  -moz-transform-origin:8px 7.5px;
  -webkit-transform-origin:8px 7.5px;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:3px;
}
#u1983 {
  position:absolute;
  left:16px;
  top:35px;
  width:24px;
  height:3px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:-6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1985 {
  position:absolute;
  left:327px;
  top:20px;
  width:20px;
  height:20px;
}
#u1985_img.mouseOver {
}
#u1985.mouseOver {
}
#u1985_img.mouseDown {
}
#u1985.mouseDown {
}
#u1986 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1987 {
  position:absolute;
  left:287px;
  top:20px;
  width:20px;
  height:20px;
}
#u1988 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u1989 {
  position:absolute;
  left:135px;
  top:0px;
  width:90px;
  height:60px;
}
#u1990 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1992 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  overflow:hidden;
}
#u1992_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1992_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1993 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:0px 3px 10px rgba(27, 27, 27, 0.258823529411765);
  -webkit-box-shadow:0px 3px 10px rgba(27, 27, 27, 0.258823529411765);
  box-shadow:0px 3px 10px rgba(27, 27, 27, 0.258823529411765);
}
#u1994 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1995 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1996 {
  position:absolute;
  left:10px;
  top:25px;
  width:40px;
  height:40px;
}
#u1997 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:70px;
}
#u1998 {
  position:absolute;
  left:134px;
  top:10px;
  width:93px;
  height:70px;
}
#u1999 {
  position:absolute;
  left:2px;
  top:27px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:360px;
}
#u2000 {
  position:absolute;
  left:30px;
  top:100px;
  width:300px;
  height:360px;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-style:normal;
  font-size:36px;
  text-align:center;
  line-height:72px;
}
#u2001 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 2px rgba(40, 40, 40, 0.117647058823529);
  -webkit-box-shadow:0px 0px 2px rgba(40, 40, 40, 0.117647058823529);
  box-shadow:0px 0px 2px rgba(40, 40, 40, 0.117647058823529);
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2002 {
  position:absolute;
  left:10px;
  top:530px;
  width:340px;
  height:60px;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2003 {
  position:absolute;
  left:12px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u2005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-LightItalic', 'Roboto Light Italic', 'Roboto';
  font-weight:200;
  font-style:italic;
  font-size:18px;
  color:#000000;
}
#u2005 {
  position:absolute;
  left:0px;
  top:57px;
  width:360px;
  height:43px;
  opacity:0.77;
  font-family:'Roboto-LightItalic', 'Roboto Light Italic', 'Roboto';
  font-weight:200;
  font-style:italic;
  font-size:18px;
  color:#000000;
}
#u2006 {
  position:absolute;
  left:2px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2007 {
  position:absolute;
  left:308px;
  top:66px;
  width:25px;
  height:25px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u2009 {
  position:absolute;
  left:15px;
  top:67px;
  width:21px;
  height:23px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-BoldItalic', 'Roboto Bold Italic', 'Roboto';
  font-weight:700;
  font-style:italic;
  font-size:18px;
  color:#FFFFFF;
}
#u2012 {
  position:absolute;
  left:0px;
  top:57px;
  width:360px;
  height:43px;
  font-family:'Roboto-BoldItalic', 'Roboto Bold Italic', 'Roboto';
  font-weight:700;
  font-style:italic;
  font-size:18px;
  color:#FFFFFF;
}
#u2013 {
  position:absolute;
  left:2px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
#u2014 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:2px;
}
#u2015 {
  position:absolute;
  left:15px;
  top:78px;
  width:37px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u2016 {
  position:absolute;
  left:2px;
  top:-8px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:2px;
}
#u2017 {
  position:absolute;
  left:15px;
  top:78px;
  width:37px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u2018 {
  position:absolute;
  left:2px;
  top:-8px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2019 {
  position:absolute;
  left:13px;
  top:1430px;
  visibility:hidden;
}
#u2019_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2019_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:330px;
}
#u2021 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:330px;
}
#u2022 {
  position:absolute;
  left:2px;
  top:157px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:20px;
}
#u2023 {
  position:absolute;
  left:3px;
  top:10px;
  width:334px;
  height:55px;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:20px;
}
#u2023_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:55px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:20px;
}
#u2023.mouseOver {
}
#u2024 {
  position:absolute;
  left:2px;
  top:18px;
  width:330px;
  word-wrap:break-word;
}
#u2025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:20px;
}
#u2025 {
  position:absolute;
  left:3px;
  top:65px;
  width:334px;
  height:55px;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:20px;
}
#u2025_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:55px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:20px;
}
#u2025.mouseOver {
}
#u2026 {
  position:absolute;
  left:2px;
  top:18px;
  width:330px;
  word-wrap:break-word;
}
#u2027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:20px;
}
#u2027 {
  position:absolute;
  left:3px;
  top:125px;
  width:334px;
  height:55px;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:20px;
}
#u2027_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:55px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:20px;
}
#u2027.mouseOver {
}
#u2028 {
  position:absolute;
  left:2px;
  top:18px;
  width:330px;
  word-wrap:break-word;
}
#u2029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:20px;
}
#u2029 {
  position:absolute;
  left:3px;
  top:173px;
  width:334px;
  height:55px;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:20px;
}
#u2029_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:55px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:20px;
}
#u2029.mouseOver {
}
#u2030 {
  position:absolute;
  left:2px;
  top:18px;
  width:330px;
  word-wrap:break-word;
}
#u2031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u2031 {
  position:absolute;
  left:9px;
  top:184px;
  width:34px;
  height:34px;
}
#u2032 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u2033 {
  position:absolute;
  left:7px;
  top:21px;
  width:36px;
  height:36px;
}
#u2034 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2035 {
  position:absolute;
  left:9px;
  top:78px;
  width:30px;
  height:30px;
}
#u2036 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u2037 {
  position:absolute;
  left:3px;
  top:133px;
  width:36px;
  height:30px;
}
#u2038 {
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:54px;
}
#u2039 {
  position:absolute;
  left:260px;
  top:252px;
  width:50px;
  height:54px;
}
#u2040 {
  position:absolute;
  left:2px;
  top:19px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:90px;
}
#u2041 {
  position:absolute;
  left:10px;
  top:159px;
  width:340px;
  height:90px;
  font-family:'Roboto-Black', 'Roboto Black', 'Roboto';
  font-weight:900;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u2041_img.mouseOver {
}
#u2041.mouseOver {
}
#u2042 {
  position:absolute;
  left:2px;
  top:21px;
  width:336px;
  word-wrap:break-word;
}
#u2043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Thin', 'Roboto Thin', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
  line-height:18px;
}
#u2043 {
  position:absolute;
  left:10px;
  top:121px;
  width:340px;
  height:28px;
  font-family:'Roboto-Thin', 'Roboto Thin', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
  line-height:18px;
}
#u2044 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
}
#u2045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:90px;
}
#u2045 {
  position:absolute;
  left:13px;
  top:688px;
  width:340px;
  height:90px;
  font-family:'Roboto-Black', 'Roboto Black', 'Roboto';
  font-weight:900;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u2046 {
  position:absolute;
  left:2px;
  top:21px;
  width:336px;
  word-wrap:break-word;
}
#u2047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Thin', 'Roboto Thin', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
  line-height:18px;
}
#u2047 {
  position:absolute;
  left:13px;
  top:650px;
  width:340px;
  height:28px;
  font-family:'Roboto-Thin', 'Roboto Thin', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
  line-height:18px;
}
#u2048 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
}
#u2049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:90px;
}
#u2049 {
  position:absolute;
  left:13px;
  top:1231px;
  width:340px;
  height:90px;
  font-family:'Roboto-Black', 'Roboto Black', 'Roboto';
  font-weight:900;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u2050 {
  position:absolute;
  left:2px;
  top:21px;
  width:336px;
  word-wrap:break-word;
}
#u2051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Thin', 'Roboto Thin', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
  line-height:18px;
}
#u2051 {
  position:absolute;
  left:13px;
  top:1193px;
  width:340px;
  height:28px;
  font-family:'Roboto-Thin', 'Roboto Thin', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
  line-height:18px;
}
#u2052 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
}
#u2053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2053 {
  position:absolute;
  left:273px;
  top:1695px;
  width:60px;
  height:60px;
}
#u2054 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3333FF;
  text-align:right;
  line-height:18px;
}
#u2055 {
  position:absolute;
  left:13px;
  top:1711px;
  width:240px;
  height:28px;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3333FF;
  text-align:right;
  line-height:18px;
}
#u2056 {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
}
#u2057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2057 {
  position:absolute;
  left:329px;
  top:678px;
  width:30px;
  height:30px;
  font-family:'Roboto-Black', 'Roboto Black', 'Roboto';
  font-weight:900;
  font-style:normal;
}
#u2058 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u2059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2059 {
  position:absolute;
  left:329px;
  top:1219px;
  width:30px;
  height:30px;
  font-family:'Roboto-Black', 'Roboto Black', 'Roboto';
  font-weight:900;
  font-style:normal;
}
#u2060 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u2061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2061 {
  position:absolute;
  left:326px;
  top:145px;
  width:30px;
  height:30px;
  font-family:'Roboto-Black', 'Roboto Black', 'Roboto';
  font-weight:900;
  font-style:normal;
}
#u2062 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u2063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:340px;
}
#u2063 {
  position:absolute;
  left:10px;
  top:259px;
  width:340px;
  height:340px;
}
#u2064 {
  position:absolute;
  left:2px;
  top:162px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:340px;
}
#u2065 {
  position:absolute;
  left:10px;
  top:780px;
  width:340px;
  height:340px;
}
#u2066 {
  position:absolute;
  left:2px;
  top:162px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:340px;
}
#u2067 {
  position:absolute;
  left:10px;
  top:1319px;
  width:340px;
  height:340px;
}
#u2068 {
  position:absolute;
  left:2px;
  top:162px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Thin', 'Roboto Thin', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:18px;
}
#u2070 {
  position:absolute;
  left:10px;
  top:1893px;
  width:340px;
  height:20px;
  font-family:'Roboto-Thin', 'Roboto Thin', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:18px;
}
#u2071 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u2072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
  color:#868686;
  text-align:center;
}
#u2072 {
  position:absolute;
  left:10px;
  top:1805px;
  width:340px;
  height:19px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
  color:#868686;
  text-align:center;
}
#u2072_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  color:#868686;
  text-align:center;
}
#u2072.mouseOver {
}
#u2073 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:36px;
}
#u2074 {
  position:absolute;
  left:10px;
  top:1923px;
  width:340px;
  height:36px;
  font-family:'Roboto-Thin', 'Roboto Thin', 'Roboto';
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
  line-height:18px;
}
#u2075 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:49px;
}
#u2076 {
  position:absolute;
  left:143px;
  top:1834px;
  width:74px;
  height:49px;
}
#u2077 {
  position:absolute;
  left:2px;
  top:16px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u1973.a {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:640px;
}
#u1974.a {
}
#u1974_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1975.a {
}
#u1976.a {
  width:960px;
}
#u1976_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1977.a {
  width:956px;
}
#u1979.a {
}
#u1979_img.a {
}
#u1980.a {
}
#u1981.a {
}
#u1981_img.a {
}
#u1982.a {
}
#u1983.a {
}
#u1983_img.a {
}
#u1984.a {
}
#u1985.a {
  left:930px;
}
#u1985_img.a {
}
#u1985_img.a.mouseOver {
}
#u1985.a.mouseOver {
}
#u1985_img.a.mouseDown {
}
#u1985.a.mouseDown {
}
#u1986.a {
}
#u1987.a {
  left:890px;
}
#u1987_img.a {
}
#u1988.a {
}
#u1989.a {
  left:435px;
}
#u1989_img.a {
}
#u1990.a {
}
#u1991.a {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:640px;
}
#u1992.a {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:640px;
}
#u1994.a {
  width:960px;
  height:700px;
}
#u1994_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:0px 3px 10px rgba(27, 27, 27, 0.258823529411765);
  -webkit-box-shadow:0px 3px 10px rgba(27, 27, 27, 0.258823529411765);
  box-shadow:0px 3px 10px rgba(27, 27, 27, 0.258823529411765);
}
#u1995.a {
  top:342px;
  width:956px;
}
#u1996.a {
  left:26px;
  top:42px;
  width:44px;
  height:48px;
}
#u1996_img.a {
  width:44px;
  height:48px;
}
#u1997.a {
  top:16px;
  width:40px;
}
#u1998.a {
  left:427px;
  width:133px;
  height:100px;
}
#u1998_img.a {
  width:133px;
  height:100px;
}
#u1999.a {
  top:42px;
  width:129px;
}
#u2000.a {
  left:70px;
  top:180px;
  width:380px;
}
#u2000_img.a {
  width:380px;
}
#u2001.a {
  width:380px;
}
#u2002.a {
  left:580px;
  top:190px;
}
#u2002_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 2px rgba(40, 40, 40, 0.117647058823529);
  -webkit-box-shadow:0px 0px 2px rgba(40, 40, 40, 0.117647058823529);
  box-shadow:0px 0px 2px rgba(40, 40, 40, 0.117647058823529);
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2003.a {
}
#u1992_state0.a {
  width:960px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2004.a {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:100px;
}
#u2005.a {
  width:960px;
}
#u2005_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-LightItalic', 'Roboto Light Italic', 'Roboto';
  font-weight:200;
  font-style:italic;
  font-size:18px;
  color:#000000;
}
#u2006.a {
  width:956px;
}
#u2007.a {
  left:910px;
}
#u2007_img.a {
}
#u2008.a {
}
#u2009.a {
  left:16px;
  top:66px;
  width:23px;
  height:25px;
}
#u2009_img.a {
  width:23px;
  height:25px;
}
#u2010.a {
  width:19px;
}
#u2011.a {
  position:absolute;
  left:0px;
  top:57px;
  width:960px;
  height:43px;
}
#u2012.a {
  width:960px;
}
#u2012_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-BoldItalic', 'Roboto Bold Italic', 'Roboto';
  font-weight:700;
  font-style:italic;
  font-size:18px;
  color:#FFFFFF;
}
#u2013.a {
  width:956px;
}
#u2015.a {
}
#u2015_img.a {
}
#u2016.a {
}
#u2017.a {
}
#u2017_img.a {
}
#u2018.a {
}
#u2019.a {
  position:absolute;
  left:10px;
  top:487px;
}
#u2020.a {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:120px;
}
#u2021.a {
  width:940px;
  height:120px;
}
#u2021_img.a {
  width:940px;
  height:120px;
}
#u2022.a {
  top:52px;
  width:936px;
}
#u2023.a {
  top:20px;
  width:234px;
}
#u2023_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:20px;
}
#u2023_div.mouseOver.a {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:55px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:20px;
}
#u2023.a.mouseOver {
}
#u2024.a {
  width:230px;
}
#u2025.a {
  left:236px;
  top:20px;
  width:234px;
}
#u2025_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:20px;
}
#u2025_div.mouseOver.a {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:55px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:20px;
}
#u2025.a.mouseOver {
}
#u2026.a {
  width:230px;
}
#u2027.a {
  left:469px;
  top:20px;
  width:234px;
}
#u2027_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:20px;
}
#u2027_div.mouseOver.a {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:55px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:20px;
}
#u2027.a.mouseOver {
}
#u2028.a {
  width:230px;
}
#u2029.a {
  left:702px;
  top:20px;
  width:234px;
}
#u2029_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:20px;
}
#u2029_div.mouseOver.a {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:55px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:20px;
}
#u2029.a.mouseOver {
}
#u2030.a {
  width:230px;
}
#u2031.a {
  left:713px;
  top:31px;
}
#u2031_img.a {
}
#u2032.a {
}
#u2033.a {
  left:20px;
  top:30px;
}
#u2033_img.a {
}
#u2034.a {
}
#u2035.a {
  left:220px;
  top:33px;
}
#u2035_img.a {
}
#u2036.a {
}
#u2037.a {
  left:460px;
  top:33px;
}
#u2037_img.a {
}
#u2038.a {
}
#u2039.a {
  left:880px;
  top:56px;
}
#u2039_img.a {
}
#u2040.a {
}
#u2019_state0.a {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2041.a {
  top:210px;
  width:291px;
}
#u2041_img.a {
  width:291px;
}
#u2041_img.a.mouseOver {
}
#u2041.a.mouseOver {
}
#u2042.a {
  width:287px;
}
#u2043.a {
  top:170px;
  width:330px;
}
#u2043_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Thin', 'Roboto Thin', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
  line-height:18px;
}
#u2044.a {
  width:330px;
}
#u2045.a {
  left:330px;
  top:210px;
  width:291px;
}
#u2045_img.a {
  width:291px;
}
#u2046.a {
  width:287px;
}
#u2047.a {
  left:335px;
  top:172px;
  width:285px;
}
#u2047_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Thin', 'Roboto Thin', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
  line-height:18px;
}
#u2048.a {
  width:285px;
}
#u2049.a {
  left:650px;
  top:210px;
  width:291px;
}
#u2049_img.a {
  width:291px;
}
#u2050.a {
  width:287px;
}
#u2051.a {
  left:659px;
  top:172px;
  width:291px;
}
#u2051_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Thin', 'Roboto Thin', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
  line-height:18px;
}
#u2052.a {
  width:291px;
}
#u2053.a {
  left:860px;
  top:626px;
  width:71px;
  height:71px;
}
#u2053_img.a {
  width:71px;
  height:71px;
}
#u2054.a {
  top:28px;
  width:67px;
}
#u2055.a {
  left:600px;
  top:626px;
}
#u2055_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3333FF;
  text-align:right;
  line-height:18px;
}
#u2056.a {
}
#u2057.a {
  left:600px;
  top:200px;
}
#u2057_img.a {
}
#u2058.a {
}
#u2059.a {
  left:920px;
  top:200px;
}
#u2059_img.a {
}
#u2060.a {
}
#u2061.a {
  left:280px;
  top:200px;
}
#u2061_img.a {
}
#u2062.a {
}
#u2063.a {
  top:300px;
  width:291px;
  height:291px;
}
#u2063_img.a {
  width:291px;
  height:291px;
}
#u2064.a {
  top:138px;
  width:287px;
}
#u2065.a {
  left:330px;
  top:300px;
  width:290px;
  height:290px;
}
#u2065_img.a {
  width:290px;
  height:290px;
}
#u2066.a {
  top:137px;
  width:286px;
}
#u2067.a {
  left:650px;
  top:300px;
  width:290px;
  height:290px;
}
#u2067_img.a {
  width:290px;
  height:290px;
}
#u2068.a {
  top:137px;
  width:286px;
}
#u2069.a {
  position:absolute;
  left:10px;
  top:743px;
  width:940px;
  height:91px;
}
#u2070.a {
  left:608px;
  top:762px;
  width:342px;
  height:30px;
}
#u2070_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Thin', 'Roboto Thin', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:18px;
}
#u2071.a {
  width:342px;
}
#u2072.a {
  top:762px;
  width:400px;
  height:26px;
}
#u2072_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Thin', 'Roboto Thin', 'Roboto';
  font-weight:200;
  font-style:normal;
  color:#868686;
  text-align:center;
}
#u2072_div.mouseOver.a {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  color:#868686;
  text-align:center;
}
#u2072.a.mouseOver {
}
#u2073.a {
  width:400px;
}
#u2074.a {
  top:798px;
  width:940px;
}
#u2074_img.a {
  width:940px;
}
#u2075.a {
  width:940px;
}
#u2076.a {
  left:443px;
  top:743px;
}
#u2076_img.a {
}
#u2077.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u1973.b {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:640px;
}
#u1974.b {
}
#u1974_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1975.b {
}
#u1976.b {
  width:1200px;
}
#u1976_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1977.b {
  width:1196px;
}
#u1979.b {
}
#u1979_img.b {
}
#u1980.b {
}
#u1981.b {
}
#u1981_img.b {
}
#u1982.b {
}
#u1983.b {
}
#u1983_img.b {
}
#u1984.b {
}
#u1985.b {
  left:1170px;
}
#u1985_img.b {
}
#u1985_img.b.mouseOver {
}
#u1985.b.mouseOver {
}
#u1985_img.b.mouseDown {
}
#u1985.b.mouseDown {
}
#u1986.b {
}
#u1987.b {
  left:1130px;
}
#u1987_img.b {
}
#u1988.b {
}
#u1989.b {
  left:555px;
}
#u1989_img.b {
}
#u1990.b {
}
#u1991.b {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:640px;
}
#u1992.b {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:640px;
}
#u1994.b {
  width:1200px;
}
#u1994_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:0px 3px 10px rgba(27, 27, 27, 0.258823529411765);
  -webkit-box-shadow:0px 3px 10px rgba(27, 27, 27, 0.258823529411765);
  box-shadow:0px 3px 10px rgba(27, 27, 27, 0.258823529411765);
}
#u1995.b {
  width:1196px;
}
#u1996.b {
  left:26px;
  top:42px;
  width:44px;
  height:46px;
}
#u1996_img.b {
  width:44px;
  height:46px;
}
#u1997.b {
  top:15px;
  width:40px;
}
#u1998.b {
  left:557px;
  top:0px;
  width:133px;
  height:100px;
}
#u1998_img.b {
  width:133px;
  height:100px;
}
#u1999.b {
  top:42px;
  width:129px;
}
#u2000.b {
  left:110px;
  top:160px;
  width:620px;
}
#u2000_img.b {
  width:620px;
}
#u2001.b {
  width:620px;
}
#u2002.b {
  left:730px;
  top:180px;
  width:430px;
  height:90px;
}
#u2002_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:90px;
  background:inherit;
  background-color:rgba(51, 51, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 2px rgba(40, 40, 40, 0.117647058823529);
  -webkit-box-shadow:0px 0px 2px rgba(40, 40, 40, 0.117647058823529);
  box-shadow:0px 0px 2px rgba(40, 40, 40, 0.117647058823529);
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2003.b {
  top:21px;
  width:406px;
}
#u1992_state0.b {
  width:1200px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2004.b {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
}
#u2005.b {
  width:1200px;
}
#u2005_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-LightItalic', 'Roboto Light Italic', 'Roboto';
  font-weight:200;
  font-style:italic;
  font-size:18px;
  color:#000000;
}
#u2006.b {
  width:1196px;
}
#u2007.b {
  left:1150px;
  top:67px;
}
#u2007_img.b {
}
#u2008.b {
}
#u2009.b {
  left:16px;
  top:66px;
  width:23px;
  height:25px;
}
#u2009_img.b {
  width:23px;
  height:25px;
}
#u2010.b {
  width:19px;
}
#u2011.b {
  position:absolute;
  left:0px;
  top:57px;
  width:1200px;
  height:43px;
}
#u2012.b {
  width:1200px;
}
#u2012_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-BoldItalic', 'Roboto Bold Italic', 'Roboto';
  font-weight:700;
  font-style:italic;
  font-size:18px;
  color:#FFFFFF;
}
#u2013.b {
  width:1196px;
}
#u2015.b {
}
#u2015_img.b {
}
#u2016.b {
}
#u2017.b {
}
#u2017_img.b {
}
#u2018.b {
}
#u2019.b {
  position:absolute;
  left:10px;
  top:536px;
}
#u2020.b {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:150px;
}
#u2021.b {
  width:1180px;
  height:150px;
}
#u2021_img.b {
  width:1180px;
  height:150px;
}
#u2022.b {
  top:67px;
  width:1176px;
}
#u2023.b {
  top:20px;
  width:293px;
  height:69px;
}
#u2023_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:20px;
}
#u2023_div.mouseOver.b {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:69px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:20px;
}
#u2023.b.mouseOver {
}
#u2024.b {
  top:24px;
  width:289px;
}
#u2025.b {
  left:294px;
  top:20px;
  width:293px;
  height:69px;
}
#u2025_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:20px;
}
#u2025_div.mouseOver.b {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:69px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:20px;
}
#u2025.b.mouseOver {
}
#u2026.b {
  top:24px;
  width:289px;
}
#u2027.b {
  left:586px;
  top:20px;
  width:293px;
  height:69px;
}
#u2027_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:20px;
}
#u2027_div.mouseOver.b {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:69px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:20px;
}
#u2027.b.mouseOver {
}
#u2028.b {
  top:24px;
  width:289px;
}
#u2029.b {
  left:877px;
  top:20px;
  width:293px;
  height:69px;
}
#u2029_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:20px;
}
#u2029_div.mouseOver.b {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:69px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:20px;
}
#u2029.b.mouseOver {
}
#u2030.b {
  top:24px;
  width:289px;
}
#u2031.b {
  left:891px;
  top:34px;
  width:43px;
  height:43px;
}
#u2031_img.b {
  width:43px;
  height:43px;
}
#u2032.b {
  top:14px;
  width:39px;
}
#u2033.b {
  left:24px;
  top:33px;
  width:45px;
  height:45px;
}
#u2033_img.b {
  width:45px;
  height:45px;
}
#u2034.b {
  top:14px;
  width:41px;
}
#u2035.b {
  left:300px;
  top:40px;
}
#u2035_img.b {
}
#u2036.b {
}
#u2037.b {
  left:600px;
  top:40px;
}
#u2037_img.b {
}
#u2038.b {
}
#u2039.b {
  left:1110px;
  top:76px;
}
#u2039_img.b {
}
#u2040.b {
}
#u2019_state0.b {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2041.b {
  top:210px;
  width:369px;
  height:110px;
}
#u2041_img.b {
  width:369px;
  height:110px;
}
#u2041_img.b.mouseOver {
}
#u2041.b.mouseOver {
}
#u2042.b {
  top:31px;
  width:365px;
}
#u2043.b {
  top:170px;
  width:330px;
}
#u2043_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Thin', 'Roboto Thin', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
  line-height:18px;
}
#u2044.b {
  width:330px;
}
#u2045.b {
  left:410px;
  top:210px;
  width:369px;
  height:110px;
}
#u2045_img.b {
  width:369px;
  height:110px;
}
#u2046.b {
  top:31px;
  width:365px;
}
#u2047.b {
  left:416px;
  top:172px;
  width:285px;
}
#u2047_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Thin', 'Roboto Thin', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
  line-height:18px;
}
#u2048.b {
  width:285px;
}
#u2049.b {
  left:815px;
  top:210px;
  width:369px;
  height:110px;
}
#u2049_img.b {
  width:369px;
  height:110px;
}
#u2050.b {
  top:31px;
  width:365px;
}
#u2051.b {
  left:819px;
  top:172px;
  width:291px;
}
#u2051_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Thin', 'Roboto Thin', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
  line-height:18px;
}
#u2052.b {
  width:291px;
}
#u2053.b {
  left:1060px;
  top:704px;
  width:90px;
  height:90px;
}
#u2053_img.b {
  width:90px;
  height:90px;
}
#u2054.b {
  top:37px;
  width:86px;
}
#u2055.b {
  left:790px;
  top:735px;
}
#u2055_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3333FF;
  text-align:right;
  line-height:18px;
}
#u2056.b {
}
#u2057.b {
  left:760px;
  top:200px;
}
#u2057_img.b {
}
#u2058.b {
}
#u2059.b {
  left:1160px;
  top:200px;
}
#u2059_img.b {
}
#u2060.b {
}
#u2061.b {
  left:360px;
  top:200px;
}
#u2061_img.b {
}
#u2062.b {
}
#u2063.b {
  top:320px;
  width:367px;
  height:367px;
}
#u2063_img.b {
  width:367px;
  height:367px;
}
#u2064.b {
  top:176px;
  width:363px;
}
#u2065.b {
  left:414px;
  top:320px;
  width:366px;
  height:366px;
}
#u2065_img.b {
  width:366px;
  height:366px;
}
#u2066.b {
  top:175px;
  width:362px;
}
#u2067.b {
  left:818px;
  top:320px;
  width:366px;
  height:366px;
}
#u2067_img.b {
  width:366px;
  height:366px;
}
#u2068.b {
  top:175px;
  width:362px;
}
#u2069.b {
  position:absolute;
  left:10px;
  top:840px;
  width:1180px;
  height:100px;
}
#u2070.b {
  left:637px;
  top:852px;
  width:553px;
  height:25px;
}
#u2070_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Thin', 'Roboto Thin', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:18px;
}
#u2071.b {
  width:553px;
}
#u2072.b {
  top:852px;
  width:500px;
  height:25px;
}
#u2072_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Thin', 'Roboto Thin', 'Roboto';
  font-weight:200;
  font-style:normal;
  color:#868686;
  text-align:center;
}
#u2072_div.mouseOver.b {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  color:#868686;
  text-align:center;
}
#u2072.b.mouseOver {
}
#u2073.b {
  width:500px;
}
#u2074.b {
  top:904px;
  width:1180px;
}
#u2074_img.b {
  width:1180px;
}
#u2075.b {
  width:1180px;
}
#u2076.b {
  left:563px;
  top:840px;
}
#u2076_img.b {
}
#u2077.b {
}
